<div style='padding-top = 10%'>
<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td> <%= user.id%> </td>
      <td> <%=link_to user.first_name, user %> </td>
      <td> <%= user.last_name %> </td>
      <td> <%= user.email %> </td>
    </tr>
  <% end %>
  </tbody>
</table>  
</div>
<div>
<%= link_to "Create New User", new_user_path, class: "btn btn-outline-secondary" %>
</div>
</div>