<p style="color: green"><%= notice %></p>

<h1>Errors</h1>

<div id="errors">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Severity</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
    <% @errors.each do |error| %>
    <tr>
      <td> <%=link_to error.name, error %> </td>
      <td> <%= error.severity %> </td>
      <td> <%= @counts_of_errors[error.id] %> </td>
    </tr>
  <% end %>
  </tbody>
</table>  
</div>


<div>
<%= link_to "Create New Error", new_error_path, class: "btn btn-outline-secondary" %>
</div>



