<%= form_with(model: user_error) do |form| %>
  <% if user_error.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_error.errors.count, "error") %> prohibited this user_error from being saved:</h2>

      <ul>
        <% user_error.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :error_id, style: "display: block" %>
    <%= form.text_field :error_id %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_field :note %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
