<div id="<%= dom_id user_error %>">
  <p>
    <strong>User:</strong>
    <%= user_error.user_id %>
  </p>

  <p>
    <strong>Error:</strong>
    <%= user_error.error_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= user_error.note %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= user_error.date %>
  </p>

</div>
