<div id="<%= dom_id user_error %>", style='padding-top = 10%'>
  <p>
    <strong>User Id:</strong>
    <%= user_error.user_id %>
  </p>

<p>
    <strong>User Name:</strong>
    <%= user_error.user.full_name %>
  </p>

  <p>
    <strong>Error Id:</strong>
    <%= user_error.error_id %>
  </p>

  <p>
    <strong>Error Name:</strong>
    <%= user_error.error.name %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= user_error.note %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= user_error.date %>
  </p>

</div>
