<p style="color: green"><%= notice %></p>

<h1>User Errors</h1>

<div id="user_errors">
<table class="table">
  <thead>
    <tr>
      <th scope="col">User Error Id</th>
      <th scope="col">Full Name</th>
      <th scope="col">Error Name</th>
      <th scope="col">Note</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @user_errors.each do |user_error| %>
    <tr>
      <td> <%= user_error.id%> </td>
      <td> <%= user_error.user.full_name %> </td>
      <td> <%= user_error.error.name %> </td>
      <td> <%= user_error.note %> </td>
      <td> <%= user_error.date %> </td>
    </tr>
  <% end %>
  </tbody>
</table> 
</div>

<div>
<%= link_to "Create New User Error", new_user_error_path, class: "btn btn-outline-secondary" %>
</div>




